In [1]:
from provenquant.core.labeling import get_horizontal_barrier_events, add_vertical_barrier_to_horizontal_barrier_events, get_binary_labels, get_triple_barrier_labels
import os
import pandas as pd

In [2]:
current_dir = os.getcwd()
dataframe_path = os.path.join(current_dir, '..', 'data', 'btc_usdt.feather')
dataframe = pd.read_feather(dataframe_path)
dataframe

,date,open,high,low,close,volume
0,2025-12-01 00:00:00+00:00,90360.01,90417.00,90268.77,90408.34,59.95250
1,2025-12-01 00:01:00+00:00,90408.34,90408.34,90300.00,90300.01,9.99673
2,2025-12-01 00:02:00+00:00,90300.01,90340.25,90278.33,90305.55,31.79438
3,2025-12-01 00:03:00+00:00,90305.55,90305.55,90194.27,90194.27,57.04552
4,2025-12-01 00:04:00+00:00,90194.28,90194.28,89510.00,89816.17,503.41775
...,...,...,...,...,...,...
43196,2025-12-30 23:56:00+00:00,88506.00,88532.55,88505.99,88532.55,1.28329
43197,2025-12-30 23:57:00+00:00,88532.55,88532.55,88523.10,88523.11,1.29438
43198,2025-12-30 23:58:00+00:00,88523.11,88523.11,88523.10,88523.10,0.65562
43199,2025-12-30 23:59:00+00:00,88523.10,88523.11,88485.49,88485.49,6.39077
43200,2025-12-31 00:00:00+00:00,88485.50,88485.50,88426.51,88445.33,6.61197

In [3]:
events = get_horizontal_barrier_events(
    dataframe,
    threshold=0.005,
    datetime_col='date'
)
events

Empty DataFrame
Columns: []
Index: [2025-12-01 00:04:00+00:00, 2025-12-01 00:07:00+00:00, 2025-12-01 00:19:00+00:00, 2025-12-01 00:32:00+00:00, 2025-12-01 00:45:00+00:00, 2025-12-01 00:54:00+00:00, 2025-12-01 01:07:00+00:00, 2025-12-01 01:29:00+00:00, 2025-12-01 02:01:00+00:00, 2025-12-01 02:36:00+00:00, 2025-12-01 02:49:00+00:00, 2025-12-01 03:16:00+00:00, 2025-12-01 04:13:00+00:00, 2025-12-01 06:01:00+00:00, 2025-12-01 07:38:00+00:00, 2025-12-01 08:42:00+00:00, 2025-12-01 11:15:00+00:00, 2025-12-01 12:05:00+00:00, 2025-12-01 12:42:00+00:00, 2025-12-01 12:48:00+00:00, 2025-12-01 12:51:00+00:00, 2025-12-01 13:02:00+00:00, 2025-12-01 14:04:00+00:00, 2025-12-01 14:35:00+00:00, 2025-12-01 14:42:00+00:00, 2025-12-01 15:04:00+00:00, 2025-12-01 15:21:00+00:00, 2025-12-01 15:28:00+00:00, 2025-12-01 15:34:00+00:00, 2025-12-01 15:42:00+00:00, 2025-12-01 15:48:00+00:00, 2025-12-01 15:52:00+00:00, 2025-12-01 16:06:00+00:00, 2025-12-01 16:25:00+00:00, 2025-12-01 16:37:00+00:00, 2025-12-01 16:48:00+00:00, 2025-12-01 16:58:00+00:00, 2025-12-01 17:07:00+00:00, 2025-12-01 17:15:00+00:00, 2025-12-01 17:22:00+00:00, 2025-12-01 17:44:00+00:00, 2025-12-01 18:12:00+00:00, 2025-12-01 18:36:00+00:00, 2025-12-01 18:57:00+00:00, 2025-12-01 19:07:00+00:00, 2025-12-01 19:30:00+00:00, 2025-12-01 20:00:00+00:00, 2025-12-01 20:05:00+00:00, 2025-12-01 20:25:00+00:00, 2025-12-01 21:01:00+00:00, 2025-12-01 21:21:00+00:00, 2025-12-01 22:00:00+00:00, 2025-12-01 22:34:00+00:00, 2025-12-01 22:45:00+00:00, 2025-12-01 23:48:00+00:00, 2025-12-02 00:52:00+00:00, 2025-12-02 01:06:00+00:00, 2025-12-02 01:13:00+00:00, 2025-12-02 01:56:00+00:00, 2025-12-02 02:18:00+00:00, 2025-12-02 03:21:00+00:00, 2025-12-02 03:43:00+00:00, 2025-12-02 04:18:00+00:00, 2025-12-02 08:12:00+00:00, 2025-12-02 09:24:00+00:00, 2025-12-02 10:45:00+00:00, 2025-12-02 11:11:00+00:00, 2025-12-02 11:53:00+00:00, 2025-12-02 13:08:00+00:00, 2025-12-02 13:36:00+00:00, 2025-12-02 14:07:00+00:00, 2025-12-02 14:16:00+00:00, 2025-12-02 14:26:00+00:00, 2025-12-02 14:45:00+00:00, 2025-12-02 15:00:00+00:00, 2025-12-02 15:03:00+00:00, 2025-12-02 15:12:00+00:00, 2025-12-02 15:27:00+00:00, 2025-12-02 15:40:00+00:00, 2025-12-02 15:51:00+00:00, 2025-12-02 16:17:00+00:00, 2025-12-02 16:29:00+00:00, 2025-12-02 16:37:00+00:00, 2025-12-02 16:55:00+00:00, 2025-12-02 17:17:00+00:00, 2025-12-02 17:24:00+00:00, 2025-12-02 17:57:00+00:00, 2025-12-02 18:16:00+00:00, 2025-12-02 19:39:00+00:00, 2025-12-02 20:01:00+00:00, 2025-12-02 20:16:00+00:00, 2025-12-02 20:36:00+00:00, 2025-12-02 21:05:00+00:00, 2025-12-02 22:01:00+00:00, 2025-12-02 23:34:00+00:00, 2025-12-03 00:31:00+00:00, 2025-12-03 00:44:00+00:00, 2025-12-03 01:20:00+00:00, 2025-12-03 01:50:00+00:00, 2025-12-03 02:12:00+00:00, ...]

[796 rows x 0 columns]

In [4]:
events = add_vertical_barrier_to_horizontal_barrier_events(
    dataframe,
    events,
    vertical_barrier_duration=pd.Timedelta('4h'),
    datetime_col='date'
)
events

                                   vertical_barrier       ret
2025-12-01 00:04:00+00:00 2025-12-01 04:04:00+00:00 -0.040218
2025-12-01 00:07:00+00:00 2025-12-01 04:07:00+00:00 -0.032098
2025-12-01 00:19:00+00:00 2025-12-01 04:19:00+00:00 -0.030422
2025-12-01 00:32:00+00:00 2025-12-01 04:32:00+00:00 -0.025434
2025-12-01 00:45:00+00:00 2025-12-01 04:45:00+00:00 -0.019782
...                                             ...       ...
2025-12-30 16:35:00+00:00 2025-12-30 20:35:00+00:00 -0.008260
2025-12-30 17:45:00+00:00 2025-12-30 21:45:00+00:00 -0.000940
2025-12-30 19:08:00+00:00 2025-12-30 23:08:00+00:00  0.004835
2025-12-30 20:53:00+00:00 2025-12-31 00:00:00+00:00  0.005975
2025-12-30 21:46:00+00:00 2025-12-31 00:00:00+00:00  0.001304

[796 rows x 2 columns]

In [5]:
binary_labels = get_binary_labels(
    events,
    min_ret=0.001,
    side='long'
)

print(binary_labels.value_counts())

0    426
1    370
Name: count, dtype: int64

In [6]:
triple_barrier_labels, triple_barrier_rets = get_triple_barrier_labels(
    dataframe,
    events,
    threshold=0.005,
    pt=2,
    sl=1,
    side='long',
    datetime_col='date'
)

In [7]:
triple_barrier_labels.value_counts()

-1    395
 1    204
 0    197
Name: count, dtype: int64

In [8]:
triple_barrier_rets.mean()

np.float64(0.0004279675887719715)